objectsandbox/src/main/mule/makePlots.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="make64Plots" doc:id="429f5014-134a-4d72-a08b-d439ca44c80d" >
		<http:listener doc:name="GET /makeplots" doc:id="fd287dba-b2a8-4a57-92dd-b5965ab18565" config-ref="Localhost8081_Listener_config" path="/makeplots" allowedMethods="GET"/>
		<set-payload value="#[[
	[0,0], [16,0], [32,0], [48,0],
	[0,16], [16,16], [32,16], [48,16],
	[0,32], [16,32], [32,32], [48,32],
	[0,48], [16,48], [32,48], [48,48],
]]" doc:name="Set Payload" doc:id="5d5c973b-9e41-429e-8d1c-6cc7a5dfc357" />
		<foreach doc:name="For Each" doc:id="76601fb0-5b4d-4aef-a8f5-5af0e63980ab" >
			<ee:transform doc:name="Generate 16 square" doc:id="c519d068-6744-489d-86e3-7dae65919fe3">
			<ee:message>
			</ee:message>
				<ee:variables>
					<ee:set-variable variableName="sectorPlot"><![CDATA[%dw 2.0
output application/json

var xStart = payload[0]
var yStart = payload[1]

---
((0 to 15) as Array) map (c,x) -> ((0 to 15) as Array) map (r,x2) -> {
	sectorKey: (c + xStart) as String {format: "0000"} ++
		(r + yStart) as String {format: "0000"} ++ "." ++
		now(),
	location: {"xCoord": r, "yCoord": c},
	energy: (275 + randomInt(60)) as Number {class: "java.lang.Integer"},
	farm: (125 + randomInt(45)) as Number {class: "java.lang.Integer"},
	factory: (160 + randomInt(60)) as Number {class: "java.lang.Integer"}
}]]></ee:set-variable>
				</ee:variables>
		</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="b81d1433-5cb7-4f26-aeef-38e281b91a16" message='#["\n=================================="
++ "\nSector plot created for: " ++ (payload[0] as String) ++ "," ++ (payload[1] as String)
++ "\n=================================="]'/>
			<file:write doc:name="Write" doc:id="9803eb39-f5e9-4469-b970-7d8715a71aee" path='#["firstMap/sector." ++ (
	payload[0] as String {format: "0000"} ++ "." ++ 
	payload[1] as String {format: "0000"} ++ ".json"
)]' config-ref="fileObjectStoreConfig">
				<file:content ><![CDATA[#[output application/json
---
vars.sectorPlot]]]></file:content>
			</file:write>
		</foreach>
	</flow>
</mule>
